## Workflow
### Data > Data preprocessing > Anaylis > Train Test > LogisticRegression> New Data

## Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the dataset to a pandas Dataframe
credit_card_data = pd.read_csv("ML_Project10_CreditCardFraud.csv")

In [7]:
# print first 5 rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
# print number of rows and columns
credit_card_data.shape

(284807, 31)

In [8]:
# checking the nimber of missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# getting some info about the dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
# check the distribtuion of class
credit_card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

## This dataset is highly unbalanced!
## 0 --> normal transaction
## 1 --> fraudulent transaction

In [12]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0 ]
fraud = credit_card_data[credit_card_data.Class == 1 ]

In [14]:
legit.shape, fraud.shape

((284315, 31), (492, 31))

In [16]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
# compare the values for both transactions (by mean value)
credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Under-sanmpling

In [19]:
# Build a sample dataset containing similar distrubition of normal and fraud transaction

In [20]:
# Number of fraudulent transaction --> 492

In [22]:
# let's take 492 random values from the legit dataset
leigt_sample = legit.sample(n=492)

## Concatenating 2 dataframes

In [28]:
# concatenate two datasets and concatenate on row-wisw --> axis 0
new_dataset = pd.concat([leigt_sample,fraud], axis=0)

In [29]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
158620,111536.0,1.971454,-0.150996,-0.064830,1.301370,-0.145921,0.676870,-0.924235,0.124745,2.457825,...,-0.100752,0.116789,0.222805,-0.064872,-0.246245,-0.755148,0.054110,-0.024598,10.32,0
236857,148990.0,2.207830,-1.772396,0.108636,-1.365543,-2.278896,-0.536023,-1.902950,0.079857,-0.299696,...,-0.157066,0.009902,0.360632,-0.029710,-0.610764,-0.243538,0.053811,-0.031320,24.90,0
189370,128367.0,-0.272683,0.748120,-0.669013,-1.251962,1.302950,-0.500912,1.904997,-0.307776,-0.974156,...,0.287103,0.667597,-0.131192,0.401438,0.103733,0.061050,0.056115,0.157952,102.69,0
237157,149123.0,2.299928,-1.576267,-0.998683,-1.821596,-1.086070,0.234281,-1.557054,0.187108,-1.003997,...,-0.160107,-0.050575,0.239745,-0.036601,-0.277419,-0.177935,0.011097,-0.060025,5.40,0
27540,34591.0,-1.425205,1.447289,2.729110,2.679547,-0.738493,0.580530,-0.425750,0.645303,-0.843093,...,0.134261,0.299339,-0.152570,0.626654,-0.070624,0.094182,-0.380092,-0.001203,0.00,0

In [30]:
# check if the data is uniform now
new_dataset["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [32]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95189.394309,0.001484,0.040788,-0.009723,-0.030166,0.051550,0.089314,0.036483,0.058600,-0.005500,...,0.032630,0.006905,-0.003269,-0.037018,-0.001858,0.018542,-0.021445,-0.006880,0.021387,92.890589
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Splitting into Features and Target

In [34]:
X = new_dataset.drop("Class", axis=1)
y = new_dataset["Class"]

## Spltting into Train and Test data

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

## Train the LogisticRegression Model

In [36]:
model = LogisticRegression()

In [37]:
# train the model with train data
model.fit(X_train, y_train)

LogisticRegression()

## Evaluate the model

In [39]:
# Evaluate the training data
train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(y_train, train_prediction)
print(f"Train accuracy is {(train_accuracy * 100):.2f}%")

Train accuracy is 94.54%

In [40]:
# Evaluate the training data
test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(y_test, test_prediction)
print(f"Test accuracy is {(test_accuracy * 100):.2f}%")

Test accuracy is 92.39%

## Build a predictive system

In [45]:
input_data = ()

In [ ]:
model.predict(input_data)