In [ ]:
# For loops

In [2]:
seq = [1,2,3,4,5]

In [5]:
for n in seq: 
    print(n)

1
2
3
4
5

In [6]:
for n in seq: 
    print("hello")

hello
hello
hello
hello
hello

In [7]:
# while loop

In [11]:
i = 1
while i < 5:
    print(f"i is: {i}")
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [17]:
# range function - generator
list(range(0,5))

[0, 1, 2, 3, 4]

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [19]:
# List comprenhesion

In [2]:
x = [1,2,3,4]

In [8]:
out = []

for num in x:
    out.append(num**2)

In [4]:
out

[]

In [6]:
out = [num ** 2 for num in x] # list comprehension

In [7]:
out

[1, 4, 9, 16]

In [9]:
# Functions

In [10]:
def my_func(param1):
    print(param1)

In [11]:
my_func("hello")

hello

In [14]:
def my_func(name = "Default name"):   # passing a default value in
    print(f"Hello {name}")

In [13]:
my_func("Jose")

Hello Jose

In [15]:
my_func()

Hello Default name

In [21]:
def square(num):
    """
    This function squares the number
    It can go multiple lines
    """
    return num **2  # function returns a value so it can be assigned to a variable when function is called

In [19]:
output = square(2)

In [20]:
output

4