In [1]:
# Pandas series

In [2]:
import numpy as np
import pandas as pd

In [5]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d= {"a":10, "b":20, "c":30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index=labels) # passing labels in

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels) # you don't need to input data=  and index=

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d) # will read the dictionary as data:index pair

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(labels) # it can hold anything inside

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
# indexing data from a Series

In [19]:
ser1 = pd.Series([1,2,3,4],["USA","Germany","USSR","Japan"])

In [20]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2 = pd.Series([1,2,5,4],["USA","Germany","Italy","Japan"])

In [25]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [26]:
ser1["USA"] # grabbing an index

1

In [28]:
ser3 = pd.Series(data = labels)

In [29]:
ser3

0    a
1    b
2    c
dtype: object

In [30]:
ser3[0] # grabbing index

'a'

In [32]:
ser1 + ser2 #NaN values when not found. It converts into floats

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64